/*

Add styles or override variables from the theme here.

*/

@import "share/pqrs.scss";

body {
  .td-content {
    table {
      thead {
        tr {
          th,
          td {
            background-color: #eeeeee;
            border: 1px solid $border-color;
          }
        }
      }

      tbody {
        tr {
          th,
          td {
            border: 1px solid $border-color;
          }

          &:nth-of-type(odd) {
            th,
            td {
              background-color: white;
            }
          }

          &:hover {
            th,
            td {
              background-color: #eeeeee;
            }
          }
        }
      }
    }
  }
}

/* /index.html */
body.td-home {
  background-color: $dark;

  section:first-of-type {
    background-image: url('/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }

  .features {
    ul {
      text-align: left;
      list-style-type: '✨';
    }
  }
}
