/*

Add styles or override variables from the theme here.

*/

$dark: #403f4c;
$primary: #3273db;
$secondary: #db3273;
$border-color: #dee2e6;

body {
  .navbar-brand {
    .text-uppercase {
      text-transform: none !important;
    }
  }

  .td-content {
    overflow-wrap: break-word;

    h1 + p,
    h1 + ol,
    h1 + ul,
    h1 + div.section-index {
      margin-top: 3em;
    }

    figure {
      img {
        margin: 20px 0;
        box-sizing: content-box;
        border: 1px solid $border-color;
        border-radius: 10px;
      }
    }

    table {
      thead {
        tr {
          th,
          td {
            background-color: #eeeeee;
            border: 1px solid $border-color;
          }
        }
      }

      tbody {
        tr {
          th,
          td {
            border: 1px solid $border-color;
          }

          &:nth-of-type(odd) {
            th,
            td {
              background-color: white;
            }
          }

          &:hover {
            th,
            td {
              background-color: #eeeeee;
            }
          }
        }
      }
    }
  }
}

/* /index.html */
body.td-home {
  background-color: $dark;

  section:first-of-type {
    background-image: url('/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }

  .features {
    ul {
      text-align: left;
      list-style-type: '✨';
    }
  }
}
