+++
title = "ComboStick"
+++

<!-- ======================================== -->
<!-- lead -->
<!-- ======================================== -->

{{< blocks/lead color="dark" height="auto" >}}
<h1 class="display-1">ComboStick</h1>

<div class="mt-2 col-md-8 offset-md-2">
  A mouse for macOS that combines and operates two sticks simultaneously
</div>

<div class="mt-4">
  <a href="docs/">
    <span class="btn btn-lg btn-secondary mx-2 my-2 px-4">
      How to build your device
      <i class="fas fa-arrow-alt-circle-right ms-1"></i>
    </span>
  </a>
</div>

<a
  href="https://github.com/pqrs-org/ComboStick/"
  target="_blank"
  class="btn btn-small btn-light mx-2 my-2"
>
  GitHub
  <i class="fab fa-github ms-1"></i>
</a>

{{< /blocks/lead >}}

<!-- ======================================== -->
<!-- section -->
<!-- ======================================== -->

{{< blocks/section color="dark" type="row features" >}}

{{% blocks/feature icon="fas fa-leaf" title="Ergonomic" %}}
This mouse uses a joystick attached to a wrist rest for moving the pointer and scrolling, enabling you to operate the mouse without removing your hands from the keyboard.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-dollar-sign" title="Inexpensive" %}}
This device is made by slightly modifying the circuit board of the affordable Logitech F310 and combining it with a 3D-printed case.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-arrow-pointer" title="Smooth operation" %}}
By using two sticks simultaneously, one for directional control and the other for speed control, this device achieves a balance between precise and high-speed operations.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="light" >}}

<div
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  "
>
  <img src="images/usage.jpg" alt="usage" style="height: 200px" class="m-1" />
  <img
    src="images/combostick.jpg"
    alt="main"
    style="height: 200px"
    class="m-1"
  />
  <img src="images/freecad.png" alt="main" style="height: 200px" class="m-1" />
</div>

{{< /blocks/section >}}

{{< blocks/section color="dark" >}}

<h2 class="mb-4">Usage</h2>

<div
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
    width: 100%;
  "
>
  <div class="p-2" style="width: 500px; border: 1px solid gray;">
    <h3>Pointer control</h3>

    <p>
      Mouse cursor movement begins by tilting the left stick.
      While only the left stick is used, the pointer moves slowly.
    </p>
    <p>
      If you tilt the right stick while the left stick is sufficiently tilted, the pointer accelerates.
      The right stick doesn't influence the direction of the pointer's movement, so you can tilt it in whatever direction is easiest for you.
    </p>
    <video src="videos/combostick-cursor.mp4" style="width: 100%" controls></video>
  </div>

  <div class="p-2" style="width: 500px; border: 1px solid gray;">
    <h3>Scroll</h3>

    <p>
      Tilting the right stick first, as opposed to the pointer control, initiates a scrolling action.
    </p>

    <video src="videos/combostick-scroll.mp4" style="width: 100%" controls></video>
  </div>
</div>

{{< /blocks/section >}}
