/*

Add styles or override variables from the theme here.

*/

@import "share/pqrs.scss";

/* /index.html */
body.td-home {
  background-color: black;

  section:first-of-type {
    background-image: url('/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
  }

  .td-arrow-down::before {
    border: 0;
  }
}
