// Override _utilities.scss
// https://github.com/google/docsy/blob/main/assets/scss/support/_utilities.scss
.td-max-width-on-larger-screens {
  @include media-breakpoint-up(lg) {
    max-width: calc(100% - 2em) !important;
  }
}

.alert-obsoleted {
  --bs-alert-color: var(--bs-body-color);
  --bs-alert-bg: var(--bs-secondary-bg);
  --bs-alert-border-color: var(--bs-border-color);
  --bs-alert-link-color: var(--bs-emphasis-color);

  border-style: solid;
  border-color: var(--bs-alert-border-color);
  border-width: 0 0 0 4px;
}
