+++
title = "Karabiner-Elements"
+++

<!-- ======================================== -->
<!-- lead -->
<!-- ======================================== -->

{{< blocks/lead color="dark" height="auto" >}}
<h1 class="display-1">
  Karabiner-Elements
</h1>

<div class="mt-2 col-md-8 offset-md-2">
  A powerful and stable keyboard customizer for macOS.
</div>

<div class="mt-4">
  <div class="btn-group mx-2 my-2">
    <a
      href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v12.9.0/Karabiner-Elements-12.9.0.dmg"
      class="btn btn-primary btn-lg px-4"
    >
      Download
      <i class="fas fa-download ml-1"></i>
    </a>
    <button
      type="button"
      class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v12.9.0/Karabiner-Elements-12.9.0.dmg"
      >
        Download Karabiner-Elements-12.9.0<br />
        <ul>
          <li>For macOS Catalina (10.15)</li>
          <li>For macOS Mojave (10.14)</li>
          <li>For macOS High Sierra (10.13)</li>
          <li>For macOS Sierra (10.12)</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v11.6.0/Karabiner-Elements-11.6.0.dmg"
      >
        Download Karabiner-Elements-11.6.0<br />
        <ul>
          <li>For macOS El Capitan (10.11)</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="files/Karabiner-10.22.0.dmg">
        Download Karabiner-10.22.0<br />
        <ul>
          <li>For macOS El Capitan (10.11)</li>
          <li>For macOS Yosemite (10.10)</li>
          <li>For macOS Mavericks (10.9)</li>
        </ul>
      </a>
    </div>
  </div>
  <a href="docs/">
    <span class="btn btn-lg btn-secondary mx-2 my-2 px-4">
      Learn more
      <i class="fas fa-arrow-alt-circle-right ml-1"></i>
    </span>
  </a>
</div>

<div class="mt-4">
  <a
    href="https://github.com/pqrs-org/Karabiner-Elements/blob/master/LICENSE.md"
    target="_blank"
    class="mx-2"
  >
    <img src="images/license-public-domain.svg" alt="Public Domain" />
  </a>
  <a href="/docs/pricing/" target="_blank" class="mx-2">
    <img src="/images/pricing-free.svg" alt="Free" />
  </a>
</div>

<div class="small mt-3">
  The latest release of Karabiner-Elements works on macOS 10.12 or later.
</div>

<div class="mt-5">
  <a href="/docs/releasenotes/" class="btn btn-small btn-light mx-2 my-2">
    Release notes
    <i class="fas fa-star ml-1"></i>
  </a>
  <a
    href="https://github.com/pqrs-org/Karabiner-Elements"
    target="_blank"
    class="btn btn-small btn-light mx-2 my-2"
  >
    GitHub
    <i class="fab fa-github ml-1"></i>
  </a>
</div>
{{< /blocks/lead >}}

<!-- ======================================== -->
<!-- feature -->
<!-- ======================================== -->

{{< blocks/section color="dark" type="features">}}

{{% blocks/feature icon="fas fa-coffee" title="Easy to use" url="docs/manual/configuration/configure-simple-modifications/" %}}
You can configure simple key mappings from GUI.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tools" title="Powerful" url="docs/manual/configuration/configure-complex-modifications/" %}}
There are many predefined powerful rules.

- Diamond cursor
- Emacs key bindings anywhere
- Vi key bindings
- Prevent unintended command-q
- Mouse keys

You can them import from the Internet.

{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-palette" title="Flexible" url="docs/json/" %}}
You can write your own rules if you want to modify existence rules or create new rules from scratch.
{{% /blocks/feature %}}

{{< /blocks/section >}}
