+++
title = "Karabiner-Elements"
+++

<!-- ======================================== -->
<!-- lead -->
<!-- ======================================== -->

{{< blocks/lead color="dark" height="auto" >}}
<h1 class="display-1">
  Karabiner-Elements
</h1>

<div class="mt-2 col-md-8 offset-md-2">
  A powerful and stable keyboard customizer for macOS.
</div>

<div class="mt-4">
  <div class="btn-group mx-2 my-2">
    <a
      href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v13.4.0/Karabiner-Elements-13.4.0.dmg"
      class="btn btn-primary btn-lg px-4"
    >
      Download v13.4.0
      <i class="fas fa-download ml-1"></i>
    </a>
    <button
      type="button"
      class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v13.4.0/Karabiner-Elements-13.4.0.dmg"
      >
        Download v13.4.0

        <ul class="mt-2">
          <li>For macOS Big Sur (11.0)</li>
          <li>For macOS Catalina (10.15.6 or later)</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v12.10.0/Karabiner-Elements-12.10.0.dmg"
      >
        Download v12.10.0

        <ul class="mt-2">
          <li>For macOS Catalina (10.15)</li>
          <li>For macOS Mojave (10.14)</li>
          <li>For macOS High Sierra (10.13)</li>
          <li>For macOS Sierra (10.12)</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v11.6.0/Karabiner-Elements-11.6.0.dmg"
      >
        Download v11.6.0

        <ul class="mt-2">
          <li>For macOS El Capitan (10.11)</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://github.com/tekezo/Karabiner/releases/download/files/Karabiner-10.22.0.dmg">
        Download v10.22.0

        <ul class="mt-2">
          <li>For macOS El Capitan (10.11)</li>
          <li>For macOS Yosemite (10.10)</li>
          <li>For macOS Mavericks (10.9)</li>
        </ul>
      </a>
    </div>
  </div>
  <a href="docs/">
    <span class="btn btn-lg btn-secondary mx-2 my-2 px-4">
      Learn more
      <i class="fas fa-arrow-alt-circle-right ml-1"></i>
    </span>
  </a>
</div>

<div class="mt-4">
  <a
    href="https://github.com/pqrs-org/Karabiner-Elements/blob/master/LICENSE.md"
    target="_blank"
    class="mx-2"
  >
    <img src="images/license-public-domain.svg" alt="Public Domain" />
  </a>
  <a href="/docs/pricing/" target="_blank" class="mx-2">
    <img src="/images/pricing-free.svg" alt="Free" />
  </a>
</div>

<div class="small mt-4">
  <div class="d-inline-block px-4 py-2 border border-light" style="border-radius: 10px;">
    <div class="small">
      Supported systems
    </div>
    <div>
      <div class="d-inline-block ml-2 mt-2 text-left mx-auto">
        <i class="fab fa-apple"></i> macOS 11.0 (Big Sur)<br/>
        <i class="fab fa-apple"></i> macOS 10.15 (Catalina)<br/>
      </div>
    </div>
    <div>
      <div class="d-inline-block small mt-3 text-left mx-auto">
        <i class="fas fa-star"></i> Both Intel-based Macs and Apple Silicon Macs are supported.<br/>
        <i class="fas fa-star"></i> macOS 10.15.6 or later is required.<br/>
      </div>
    </div>
  </div>

  <div class="d-block -bg-white px-4 py-4 mt-4 mx-auto border border-light" style="border-radius: 10px; max-width: 600px;">
    <div class="small">
      🔔 Notes for Mac computers with Apple Silicon (Apple M1) users
    </div>

    <div class="mt-2 small text-left">
      <div>
        macOS Big Sur 11.2 or earlier have an issue within memory management and HID device handling that causes kernel panics on Mac computers with Apple Silicon.
        The virtual device that is used internally by Karabiner-Elements triggers this issue, and a kernel panic might be caused at macOS shutdown.
      </div>

      <div class="mt-2">
        We confirmed that this issue has been fixed in <a href="https://beta.apple.com/sp/betaprogram/" target="_blank">macOS Big Sur 11.3 Beta</a>.
        Please use macOS Big Sur 11.3 Beta or later versions if you are facing the kernel panic issue.
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <a href="/docs/releasenotes/" class="btn btn-small btn-light mx-2 my-2">
    Release notes
    <i class="fas fa-star ml-1"></i>
  </a>
  <a
    href="https://github.com/pqrs-org/Karabiner-Elements"
    target="_blank"
    class="btn btn-small btn-light mx-2 my-2"
  >
    GitHub
    <i class="fab fa-github ml-1"></i>
  </a>
</div>

<div class="mt-2">
  <a
    href="docs/pricing/#supporting-this-project"
    class="btn btn-small btn-secondary mx-2 my-2"
  >
    Sponsor
    <i class="fas fa-heart ml-1"></i>
  </a>
</div>

{{< /blocks/lead >}}

<!-- ======================================== -->
<!-- feature -->
<!-- ======================================== -->

{{< blocks/section color="dark" type="features">}}

{{% blocks/feature icon="fas fa-coffee" title="Easy to use" url="docs/manual/configuration/configure-simple-modifications/" %}}
You can configure simple key mappings from GUI.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tools" title="Powerful" url="docs/manual/configuration/configure-complex-modifications/" %}}
There are many powerful, predefined rules.

- Diamond cursor
- Emacs key bindings anywhere
- Vi key bindings
- Prevent unintended command-q
- Mouse keys

You can import them from the Internet.

{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-palette" title="Flexible" url="docs/json/" %}}
You can write your own rules if you want to modify existence rules or create new rules from scratch.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="white" type="features">}}

<div id="supporters" class="text-center">
  <div class="text-center font-weight-bold h3">
    Sponsors
    <i class="fas fa-heart ml-1"></i>
  </div>
  <div class="mb-4">
    Thank you for supporting Karabiner-Elements!
  </div>

  <noscript>
    <div class="alert alert-warning">
      JavaScript is required to show sponsors.
    </div>
  </noscript>
</div>

{{< /blocks/section >}}
