+++
title = "Karabiner-Elements"
+++

<!-- ======================================== -->
<!-- lead -->
<!-- ======================================== -->

{{< blocks/lead color="dark" height="auto" >}}
<h1 class="display-1">
  Karabiner-Elements
</h1>

<div class="mt-2 col-md-8 offset-md-2">
  A powerful and stable keyboard customizer for macOS.
</div>

<div class="mt-4">
  <div class="btn-group mx-2 my-2">
    <a
      href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v15.9.0/Karabiner-Elements-15.9.0.dmg"
      class="btn btn-primary btn-lg px-4"
    >
      Download v15.9.0
      <i class="fas fa-download ms-1"></i>
    </a>
    <button
      type="button"
      class="btn btn-primary btn-lg dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu">
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v15.9.0/Karabiner-Elements-15.9.0.dmg"
      >
        Download v15.9.0

        <ul class="mt-2">
          <li>For macOS 26 Tahoe</li>
          <li>For macOS 15 Sequoia</li>
          <li>For macOS 14 Sonoma</li>
          <li>For macOS 13 Ventura</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v14.13.0/Karabiner-Elements-14.13.0.dmg"
      >
        Download v14.13.0

        <ul class="mt-2">
          <li>For macOS 12 Monterey</li>
          <li>For macOS 11 Big Sur</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v13.7.0/Karabiner-Elements-13.7.0.dmg"
      >
        Download v13.7.0

        <ul class="mt-2">
          <li>For macOS 10.15 Catalina (10.15.6 or later)</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v12.10.0/Karabiner-Elements-12.10.0.dmg"
      >
        Download v12.10.0

        <ul class="mt-2">
          <li>For macOS 10.15 Catalina</li>
          <li>For macOS 10.14 Mojave</li>
          <li>For macOS 10.13 High Sierra</li>
          <li>For macOS 10.12 Sierra</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a
        class="dropdown-item"
        href="https://github.com/pqrs-org/Karabiner-Elements/releases/download/v11.6.0/Karabiner-Elements-11.6.0.dmg"
      >
        Download v11.6.0

        <ul class="mt-2">
          <li>For macOS 10.11 El Capitan</li>
        </ul>
      </a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://github.com/tekezo/Karabiner/releases/download/files/Karabiner-10.22.0.dmg">
        Download v10.22.0

        <ul class="mt-2">
          <li>For macOS 10.11 El Capitan</li>
          <li>For macOS 10.10 Yosemite</li>
          <li>For macOS 10.9 Mavericks</li>
        </ul>
      </a>
    </div>
  </div>
  <a href="docs/">
    <span class="btn btn-lg btn-secondary mx-2 my-2 px-4">
      Learn more
      <i class="fas fa-arrow-alt-circle-right ms-1"></i>
    </span>
  </a>
</div>

<div class="mt-2">
  <a href="/docs/privacy/" class="btn btn-small btn-light mx-2 my-2">
    Privacy
    <i class="fa-solid fa-key ms-1"></i>
  </a>
</div>

<div class="mt-4">
  <a
    href="https://github.com/pqrs-org/Karabiner-Elements/blob/main/LICENSE.md"
    target="_blank"
    class="mx-2 d-inline-block"
  >
    <img src="images/license-public-domain.svg" alt="Public Domain" />
  </a>
  <a
    href="/docs/pricing/"
    target="_blank"
    class="mx-2 d-inline-block"
  >
    <img src="/images/pricing-free.svg" alt="Free" />
  </a>
</div>

<div class="small mt-4">
  <div class="d-inline-block px-4 py-2 border border-light" style="border-radius: 20px;">
    <div class="small">
      Supported systems
    </div>
    <div>
      <div class="d-inline-block ms-2 mt-2 text-start mx-auto">
        <i class="fab fa-apple"></i> macOS 26 Tahoe<br />
        <i class="fab fa-apple"></i> macOS 15 Sequoia<br />
        <i class="fab fa-apple"></i> macOS 14 Sonoma<br />
        <i class="fab fa-apple"></i> macOS 13 Ventura<br />
      </div>
    </div>
    <div>
      <div class="d-inline-block small mt-3 text-start mx-auto">
        <i class="fas fa-star"></i> Both Intel-based Macs and Apple Silicon Macs are supported.<br/>
      </div>
    </div>
  </div>
</div>

<div class="mt-4">
  <a href="https://ke-complex-modifications.pqrs.org/" class="btn btn-small btn-light mx-2 my-2" target="_blank">
    Predefined rules by community
    <i class="fas fa-th ms-1"></i>
  </a>
  <a href="/docs/releasenotes/" class="btn btn-small btn-light mx-2 my-2">
    Release notes
    <i class="fas fa-star ms-1"></i>
  </a>
  <a
    href="https://github.com/pqrs-org/Karabiner-Elements"
    target="_blank"
    class="btn btn-small btn-light mx-2 my-2"
  >
    GitHub
    <i class="fab fa-github ms-1"></i>
  </a>
</div>

<div class="mt-2">
  <a
    href="docs/pricing/#supporting-this-project"
    class="btn btn-small btn-secondary mx-2 my-2"
  >
    Sponsor
    <i class="fas fa-heart ms-1"></i>
  </a>
</div>

{{< /blocks/lead >}}

<!-- ======================================== -->
<!-- feature -->
<!-- ======================================== -->

{{< blocks/section color="dark" type="row features" >}}

{{% blocks/feature icon="fas fa-coffee" title="Easy to use" url="docs/manual/configuration/configure-simple-modifications/" %}}
You can configure simple key mappings from GUI.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tools" title="Powerful" url="docs/manual/configuration/configure-complex-modifications/" %}}
There are many powerful, predefined rules.

- Diamond cursor
- Emacs key bindings anywhere
- Vi key bindings
- Prevent unintended command-q
- Mouse keys

You can import them from the Internet.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-palette" title="Flexible" url="docs/json/" %}}
You can write your own rules if you want to modify existing rules or create new rules from scratch.
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="white" type="features">}}

<div id="supporters" class="text-center">
  <div class="text-center font-weight-bold h3">
    <a
      class="btn btn-outline-secondary sponsor"
      href="https://github.com/sponsors/tekezo"
      target="_blank"
    >
      <span class="h2">
        Sponsors
        <i class="fas fa-heart ms-1"></i>
      </span>
    </a>
  </div>
  <div class="mb-4">
    Thank you for supporting Karabiner-Elements!
  </div>

  <noscript>
    <div class="alert alert-warning">
      JavaScript is required to show sponsors.
    </div>
  </noscript>

  <div id="supporters-spinner"></div>
</div>

{{< /blocks/section >}}
