$dark: #403f4c;
$primary: #3273db;
$secondary: #d10073;
$success: #28a745;
$border-color: #dee2e6;

body {
  .td-content {
    overflow-wrap: break-word;

    h1 + p,
    h1 + ol,
    h1 + ul,
    h1 + div.section-index {
      margin-top: 3em;
    }

    figure {
      img {
        margin: 20px 0;
        box-sizing: content-box;
        border: 1px solid $border-color;
        border-radius: 10px;
      }
    }

    table {
      th,
      td {
        border: 1px solid $border-color;
      }
    }
  }

  //
  // Offline search
  //

  .td-offline-search-results {
    max-width: 800px;
  }

  //
  // #supporters
  //

  #supporters .supporters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #supporters .supporters a {
    font-size: 10px;
    padding: 10px 2px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none;

    &.gold {
      background: linear-gradient(
        -72deg,
        #b67b03 0%,
        #daaf08 45%,
        #fee9a0 70%,
        #daaf08 85%,
        #b67b03 90% 100%
      );
    }

    &.silver {
      background: linear-gradient(
        -72deg,
        #dedeff,
        #ffffff 16%,
        #dedeff 21%,
        #ffffff 24%,
        #cccccc 27%,
        #dedeff 36%,
        #ffffff 45%,
        #ffffff 60%,
        #dedeff 72%,
        #ffffff 80%,
        #dedeff 84%,
        #cccccc
      );
    }
  }

  #supporters .supporters img {
    margin-bottom: 5px;
    border: 1px solid lightgray;
  }

  #supporters .supporters a:hover {
    background: none;
    background-color: #007bff;
    color: white;
  }

  th,
  td {
    padding: 0.75em;
  }
}
