$dark: #403f4c;
$primary: #3273db;
$secondary: #db3273;
$border-color: #dee2e6;

body {
  .navbar-brand {
    .text-uppercase {
      text-transform: none !important;
    }
  }

  .td-content {
    overflow-wrap: break-word;

    h1 + p,
    h1 + ol,
    h1 + ul,
    h1 + div.section-index {
      margin-top: 3em;
    }

    figure {
      img {
        margin: 20px 0;
        box-sizing: content-box;
        border: 1px solid $border-color;
        border-radius: 10px;
      }
    }

    &.release-notes {
      img {
        margin: 20px 0;
        border: 1px solid $border-color;
        border-radius: 10px;
      }

      & > ul > li {
        list-style-type: none;
        font-weight: bold;

        ul {
          font-weight: normal;
        }
      }
    }
  }

  .popover.offline-search-result {
    max-width: 800px;
  }

  //
  // #supporters
  //

  #supporters .supporters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #supporters .supporters a {
    font-size: 10px;
    padding: 10px 2px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    color: black;
    overflow-wrap: break-word;
    text-align: center;
  }

  #supporters .supporters img {
    margin-bottom: 5px;
    border: 1px solid lightgray;
  }

  #supporters .supporters a:hover {
    background-color: #007bff;
    color: white;
  }
}
