/*

Add styles or override variables from the theme here.

*/

$primary: #3273db;
$secondary: #db3273;
$border-color: #dee2e6;

body {
  .navbar-brand {
    .text-uppercase {
      text-transform: none !important;
    }
  }

  figure {
    img {
      margin: 10px 0;
      border: 1px solid $border-color;
    }
  }
}

/* /index.html */
body.td-home {
  section:first-of-type {
    background-image: url("/images/background.jpg");
    background-position: center;
  }
}
